body {
  text-align: left;
  background-color: #E8F0F2;
  color: #053742;
}

section {
  padding: 20px 15%;
}

a {
  color: #39A2DB;
}

footer {
  text-align: center;
}

.accordion {
  margin-top: 10px;
}
